body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "Medium";
  src: url("./Montserrat/static/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Regular";
  src: url("./Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Bolder";
  src: url("./Montserrat/static/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Italic";
  src: url("./Montserrat/static/Montserrat-BoldItalic.ttf");
}
@font-face {
  font-family: "Black";
  src: url("./cerapro/Cera\ Pro\ Black.otf");
}
@font-face {
  font-family: "Bold";
  src: url("./cerapro/Cera\ Pro\ Bold.otf");
}

